<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Upload XML</title>
    <meta charset="utf-8"/>
  </head>
  <body>

    <div>
      <h2>Upload XML</h2>
      <form action="." enctype="multipart/form-data" method="post">
        Select XML file to upload: <input type="file" name="upload" size="60"/><br>
        <input type="submit" value="Upload"/>
      </form>
    </div>

    <hr>
    <span th:text="${error}" style="color: red">Error message</span>

    <div th:if="${users != null}">
      <h3>Users from <u><span th:text="${fileName}">filename.xml</span></u></h3>
      <table border="1" cellpadding="8" cellspacing="0">
        <tr>
          <th>Full name</th>
          <th>E-mail</th>
          <th>Flag</th>
        </tr>
        <tr th:each="user : ${users}">
          <td th:text="${user.value}">User Name</td>
          <td th:text="${user.email}">username@gmail.com</td>
          <td th:text="${user.flag}">ACTIVE</td>
        </tr>
      </table>
    </div>

  </body>
</html>